 header{
   background-color:#50aad2;
   position:fixed;
   width: 100%;
   top: 0;
  }
  
  #header{
  display: flex;
   flex-direction: row;
   justify-content:space-between;
}
#title{
	padding-right:49px;
}
#center{
 text-align:center;
}
.myButton {
    float: right;
	box-shadow: 0px 0px 0px 2px #c2c730;
	background-color:orange;
	border-radius:10px;
	border:1px solid #cf933a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a89c1c;

}
.myButton:hover {
	background:linear-gradient(to bottom, #9c9546 5%, #c2b521 100%);
	background-color:#9c9546;
}
.myButton:active {
	position:relative;
	top:1px;
}

  .links{
   display: flex;
   flex-direction: row;
   justify-content:space-evenly;
  }
  
  a{
	  color:white;
  }
  
    a:hover{
   color:orange;
  }
  
#mission{
	padding-top:120px;
}
.squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares {
    width: 1000px;
}

.square > .img-wrapper img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.squares-wrapper > .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}

.square > .square-text-wrapper h1 {
    color: #cea135;
}

.footer {
    background-color: #50aad2;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
    margin-top: 2px;
}

.footer > .social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
}

.footer > .social-media-icons-wrapper a:hover {
    color: #cea135;
}

.footer > .copyright-wrapper {
    margin-bottom: 10px;
    font-size: 0.7em;
    color: #858585;
}